<!-- begin header -->
<header class="c-header">
  <div class="container">
    <div class="row">
      <div class="c-header__inner">

        <div class="logo">
          <a class="logo__link" href="{{ site.data[page.lang].navigation.gotomaGeneralHref }}">
          {%if site.data[page.lang].navigation.logo_image2 %}
            <img class="logo__image" src="{{ site.baseurl }}{{ site.data[page.lang].navigation.logo_image2 }}" alt="{{ site.data[page.lang].settings.title }}">
          {% else %}
            {{ site.data.settings.title }}
          {% endif %}
          </a>
          <span class="divider"></span>
          <a class="logo__link" href="{{ site.data[page.lang].navigation.gotomaHref }}">
          {%if site.data[page.lang].navigation.logo_image %}
            <img class="logo__image" src="{{ site.baseurl }}{{ site.data[page.lang].navigation.logo_image }}" alt="{{ site.data[page.lang].settings.title }}">
          {% else %}
            {{ site.data.settings.title }}
          {% endif %}
          </a>
          <span class="divider"></span>
          <a class="logo__link" href="{{ site.data[page.lang].navigation.codariusHref }}">
          {%if site.data[page.lang].navigation.logo_image3 %}
            <img class="logo__image" src="{{ site.baseurl }}{{ site.data[page.lang].navigation.logo_image3 }}" alt="{{ site.data[page.lang].settings.title }}">
          {% else %}
            {{ site.data.settings.title }}
          {% endif %}
          </a>
          <span class="divider"></span>
          <a class="logo__link" href="{{ site.data[page.lang].navigation.erpFactoryHref }}">
          {%if site.data[page.lang].navigation.logo_image4 %}
            <img class="logo__image logo__image--erp-factory" src="{{ site.baseurl }}{{ site.data[page.lang].navigation.logo_image4 }}" alt="ERP Factory">
          {% else %}
            ERP Factory
          {% endif %}
          </a>
        </div>

        <nav class="main-nav">
          <a class="logo__link" href="{{ page.translation_url | default: site.data[page.lang].navigation.lang_href }}">
          {%if site.data[page.lang].navigation.logo_lang %}
            <img class="logo__image" style="width: 30px; height:20px; border-radius: 3px; margin-right: 10px;" src="{{ site.baseurl }}{{ site.data[page.lang].navigation.logo_lang }}" alt="{{ site.data[page.lang].settings.title }}">
          {% else %}
            {{ site.data.settings.title }}
          {% endif %}
          </a>
          <div class="main-nav__box">

            <div class="nav__icon-close">
              <svg class="nav-icon-close nav-svg-icon" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M6 6l12 12M18 6L6 18"></path>
              </svg>
            </div>

            <div class="nav__title">Menu</div>

              <ul class="nav__list list-reset">

              {% for item in site.data[page.lang].navigation.menu__settings.menu__items %}
                {% if item.submenu %}
                <li class="nav__item dropdown">
                  <span class="nav__link dropdown-toggle" role="button" tabindex="0" aria-haspopup="true">{{ item.title }}
                    <svg class="arrow-down nav-svg-icon" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="m7 9 5 5 5-5"></path>
                    </svg>
                  </span>
                  <div class="dropdown-menu">
                    {% for submenu-item in item.submenu %}
                      <a href="{{ submenu-item.url }}" class="nav__link">{{submenu-item.title}}</a>
                    {% endfor %}
                  </div>
                </li>

                {% elsif item.url %}
                <li class="nav__item">
                  <a href="{{ item.url | relative_url }}" class="nav__link">{{ item.title }}</a>
                </li>
                {% else %}
                <li class="nav__item">
                  <span class="nav__link nav__link--placeholder" aria-disabled="true">{{ item.title }}</span>
                </li>
                {% endif %}
              {% endfor %}

            </ul>
          </div>

          {% bookshop_include social-link %}
        </nav>
        <div class="nav-button">
          <a class="logo__link" href="{{ page.translation_url | default: site.data[page.lang].navigation.lang_href }}">
          {%if site.data[page.lang].navigation.logo_lang %}
            <img style="width: 30px; height:20px; border-radius: 3px; margin-right: 10px;" class="logo__image" src="{{ site.baseurl }}{{ site.data[page.lang].navigation.logo_lang }}" alt="{{ site.data[page.lang].settings.title }}">
          {% else %}
            {{ site.data.settings.title }}
          {% endif %}
          </a>
          <svg class="nav__icon-menu nav-svg-icon" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M4 7h16M4 12h16M4 17h16"></path>
          </svg>
        </div>

      </div>
    </div>
  </div>
</header>
<!-- end header -->
