<!-- begin projects -->

<section id="{{site.data[page.lang].projects.header_href}}" class="stats-solutions-partners">
  <div class="container">    
    <div class="header-card-partners">
      <h2 class="stat-value-partners-header">{{site.data[page.lang].projects.item84}}</h2>
      <p class="stat-label-partners-header">
        {{site.data[page.lang].projects.item85}}
      </p>
    </div>
    <div class="slider-container">
      <div class="slider-track">
        {% assign slider_partners = site.data[page.lang].projects.slider_partners %}
        {% for copy in (1..2) %}
          {% for partner in slider_partners %}
            <div class="partner-item">
              <a href="{{ partner.href }}" target="_blank" rel="noopener noreferrer">
                <img src="{{ partner.logo | relative_url }}" alt="{{ partner.alt | escape }}">
              </a>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- </div> -->
</section>

<section id="{{site.data[page.lang].projects.header_href}}" class="stats-solutions-results">
  <div class="container">
    <div class="grid-container-solutions">
      <div class="header-card-solutions">
        <h2 class="stat-value-solutions-header">{{site.data[page.lang].projects.item82}}</h2>
        <p class="stat-label-solutions-header">
          {{site.data[page.lang].projects.item83}}
        </p>
      </div>
      
      {% assign solutions = site.data[page.lang].projects.solutions %}

      {% for solution in solutions %}
        <div class="stat-card-solutions">
          <img src="{{ solution.image | relative_url }}" alt="{{ solution.alt | escape }}">
          <span class="stat-value-solutions">{{ solution.title }}</span>
          <span class="stat-label-solutions">{{ solution.description }}</span>
        </div>
      {% endfor %}
    </div>

  </div>
</section>













<!-- end projects -->
