{% assign c = "c-blog-card" %}
<div id="{{ include.post.idHref }}" class="{{c}} col col-4 col-d-6 col-t-12">
  <div class="{{c}}__inner">

    {% if include.post.image %}
    <div class="{{c}}__image-wrap">
      <a class="{{c}}__image" href="{{ include.post.callToActionUrl }}">
        <img loading="lazy" decoding="async" src="{{ include.post.image }}" alt="{{ include.post.title }}">
      </a>
    </div>
    {% endif %}

    <div class="{{c}}__content">

      {% if include.post.tags.size >= 1 %}
      <div class="{{c}}__tags-box">
        {% for tag in include.post.tags %}
        <a href="{{ site.baseurl }}/tag/{{ tag | downcase }}" class="{{c}}__tag">{{ tag }}</a>
        {% endfor %}
      </div>
      {% endif %}
      
      <div class="{{c}}__image-title">
        <img loading="lazy" decoding="async" src="{{ include.post.imageTitle }}" alt="{{ site.data.author.author_name }}">
      </div>

      <h2 class="{{c}}__title">
        <a href="{{ include.post.callToActionUrl }}">{{ include.post.title }}</a>
      </h2>

      <p class="{{c}}__excerpt">
        {% if include.post.description %}{{ include.post.description }}{% else %}{{ include.post.content | strip_html | truncate: 120 }}{% endif
        %}
      </p>

      <div class="{{c}}__meta">
        <div class="{{c}}__info">
          <a href="{{ include.post.callToActionUrl }}">
            <div class="{{c}}__author-name">{{ include.post.callToAction }}</div>
          </a>
          <!-- <span class="{{c}}__date"><time datetime="{{ include.post.date | date_to_xmlschema }}">{{ include.post.date | date_to_string
              }}</time></span> -->
        </div>
        <div class="{{c}}__author-image">
          <!-- <svg width="44" height="44" viewBox="0 0 24 24">
            <path d="M7 17L17 7M17 7H9M17 7V15"
                  stroke="white"
                  stroke-width="2.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"/>
          </svg> -->
          <a href="{{ include.post.callToActionUrl }}">
            <img loading="lazy" decoding="async" src="{{ include.post.callToActionImage }}" alt="{{ site.data.author.author_name }}">
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
