.top {
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  position: fixed;
  bottom: 40px;
  right: -100px;
  z-index: 1100;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
  background-color: $background-color-alt;
  color: $text-color;
  cursor: pointer;
  transition: all .25s ease;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05);

  svg {
    width: 18px;
    height: 18px;
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  &.is-active {
    right: 40px;
  }
}

@media only screen and (max-width: $tablet) {
  .top {
    bottom: max(25px, calc(env(safe-area-inset-bottom) + 16px));

    &.is-active {
      right: 20px;
    }
  }
}
